extends layout

block content
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.1/css/all.css' integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf' crossorigin='anonymous')
  link(rel='stylesheet', href='/stylesheets/auth.css')
  div(class='container-fliud text-center my-5 py-5')
    div(class='text-center')
      img(class='d-block mx-auto mb-2', src='/assets/logo_2.png', alt='logo', width='150', height='150')
    form(id='form-auth' class='form-auth' action='/signin', method='POST')
      h3(class='h2 mb-3 font-weight-normal') Please sign in
      if error
        div(class='alert alert-warning')=error
      div(class='alert alert-warning' id='validation-alert')
      div(class='input-group form-group')
        div(class='input-group-prepend')
          span(class='input-group-text')
            i(class='fas fa-user')
        input(class='form-control' id='input-username' name='username', value='', type='text' placeholder='Username')
      div(class='input-group form-group')
        div(class='input-group-prepend password-field')
          span(class='input-group-text')
            i(class='fas fa-key')
        input(class='form-control' id='input-password' name='password', value='', type='password' placeholder='Password')
      button(class='btn btn-lg btn-solid btn-block', type='submit') Sign In
      a(class='btn btn-lg btn-href btn-block', href="/") Home
  script(src='/javascripts/form.js')
